<html>
    <head>Ajax City List</head>

    <body>
        
        <ul id="city-list">
            <li>working element</li>
        </ul>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js'></script>

    <script>

    $(function() {
        console.log('something');

        $('#city-list').append('<li>extra element</li>');

        $.ajax({
            type:'GET',
            url:'/api_city_list/',
            data:{},
            success: function(data) {
                console.log(data);

                for(key in data) {
                    console.log(data[key]);
                    for(i=0; i < data[key].length; i++) {

                        console.log(data[key][i]);

                        $('#city-list').append('<li>' + data[key][i]['zip_code']
                                                + ' ' +
                                                data[key][i]['lat'] + '</li>'
                                                + ' ' +
                                                '<li>' + data[key][i]['lon']
                                                + '</li>'
                                                );
                    }
                }
            }
        })
    });
    </script>
    </body>