{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Here Is a List of <strong>Our</strong> States:
                    </h2>
                    <hr>
                

                    <div class="col-lg-12 text-center" id="state-list">
                    </div>
                {% comment %}
                {% for state in states %}
                <div class="col-lg-12 text-center">
                    {% comment %}
                    <img class="img-responsive img-border img-full" src="{% static 'img/slide-1.jpg' %}" alt="">
                    {% endcomment %}
                    {% comment %}
                    <h2>{{ state.name }}
                    <a href="/vote/{{ state.pk }}/?vote_type=up">Vote Up ( {{state.upvotes.all.count}} ) </a> |
                    <a href="/vote/{{ state.pk }}/?vote_type=down">Vote Down ( {{state.downvotes.all.count}} )</a> 
                        <br>
                        <small>{{ state.statecapital }}</small>
                    </h2>
                    <p>
                        {% for city in state.city_set.all|slice:":30"|dictsort:"name" %}

                            <a href="/city_detail/{{ city.pk }}">{{ city }}</a>
                        
                        {% endfor %}
                    </p>
                    <a href="/state_detail/{{ state.pk }}" class="btn btn-default btn-lg">Read More</a>
                    <hr>
                </div>
                {% endfor %}
                {% end comment %}

                {% comment %}
                <div class="col-lg-12 text-center">
                    <ul class="pager">
                        <li class="previous"><a href="#">&larr; Older</a>
                        </li>
                        <li class="next"><a href="#">Newer &rarr;</a>
                        </li>
                    </ul>
                </div>
                {% endcomment %}
            </div>
        </div>

    </div>


    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>

    {% verbatim %}
    <script id="simple-template" type="text/x-handlebars-template">
        {{#each states}}
        <h2> {{ name }} 
                {{#if votes}}
                    Score: ( {{ votes }} ) 
                {{else}} 
                    (0) 
                {{/if}} |
            <a href="/vote/{{ pk }}/?vote_type=up"> Vote Up </a> -

            <br>
            <small>{{ capital }}</small>
        </h2>

        <p>
            {{#each cities}}
                <a href="/city_detail/ {{ pk }}">

                {{#if @last}}
                    {{ name }}
                {{else}}
                    {{ name }},
                {{/if}}

                </a>    
            {{/each}}
        </p>

        {{/each}}
        
    </script>
    {% endverbatim %}

    <script>
    $(function() {
        console.log('something');
        // only use var on variables you don't want 
        // to change as it might break the script

        // insertion point
        var stateList = $('#state-list');

        // the template
        var rawTemplate = $('#simple-template').html();

        //compiled template
        var template = Handlebars.compile(rawTemplate);


        // $('#state-list').append('<li>extra element</li>');

        $.ajax({
            type:'GET',
            url:'/api_state_list/',
            data:{},
            success: function(data) {
                // console.log(data);

                html_template = template(data)

                stateList.html(html_template)

                // for(key in data) {
                //     console.log(data[key]);
                //     for(i=0; i < data[key].length; i++) {

                //         console.log(data[key][i]);

                //         $('#state-list').append('<li>' + data[key][i]['name'] 
                //                                 + ' ' + 
                //                                 data[key][i]['abbrev'] + '</li>' 
                //                                 + ' ' +
                //                                 '<img src="' + data[key][i]['map'] 
                //                                 + '" height="100" width="100" />'
                //                                  );
                //     }
                // }
            }
        })

    });

    // $(document).ready( function() {
    //     console.log('something');

    //     $('#state-list').append('<li>extra element</li>');
    // });

    </script>

    </body>
</html>
{% endblock %}
